<section class="bg-color" id="brands">
  <div class="container d-none d-sm-block p-sm-2 ps-lg-5">
    <div class="py-0">
      <h1 class="text-primary fs-lg py-3">Top Quality Hookar Brands</h1>
      <p class="text-primary fs-sm pe-sm-5">
        We use top quality Hookar brands like Nube Hookar, Richman, Alpha
        Hookar, Geometry Hookar, Oduman, Khaleel Mamoun
      </p>
    </div>
    <div class="row">
      <div class="col-sm-6 col-md-3 d-flex align-items-end">
        <img src="assets/images/brand-image1.svg" alt="" />
      </div>
      <div class="col-sm-6 col-md-3 d-flex align-items-end">
        <img src="assets/images/brand-image2.svg" alt="" />
      </div>
      <div class="col-sm-6 col-md-3 d-flex align-items-end">
        <img src="assets/images/brand-image3.svg" alt="" />
      </div>
      <div class="col-sm-6 col-md-3 d-flex align-items-end">
        <img src="assets/images/brand-image4.svg" alt="" />
      </div>
    </div>
    <div class="row d-flex justify-content-center py-3">
      <div class="col-12 d-flex justify-content-center">
        <img src="assets/images/brand-image5.svg" alt="" />
      </div>
    </div>
  </div>
  <div class="container d-block d-sm-none py-4">
    <div class="px-1">
      <h1 class="text-primary fs-lg py-3">Top Quality Hookar Brands</h1>
      <p class="text-primary fs-sm">
        We use top quality Hookar brands like Nube Hookar, Richman, Alpha
        Hookar, Geometry Hookar, Oduman, Khaleel Mamoun
      </p>
    </div>
    <div class="row px-2">
      <div class="col-sm-3 d-flex align-items-end py-3">
        <img src="assets/images/brand-image1.svg" alt="" class="w-100" />
      </div>
      <div class="col-sm-3 d-flex align-items-end py-3">
        <img src="assets/images/brand-image2.svg" alt="" class="w-100" />
      </div>
      <div class="col-sm-3 d-flex align-items-end py-3">
        <img src="assets/images/brand-image3.svg" alt="" class="w-100" />
      </div>
      <div class="col-sm-3 d-flex align-items-end py-3">
        <img src="assets/images/brand-image4.svg" alt="" class="w-100" />
      </div>
    </div>
    <div class="row d-flex justify-content-center py-3">
      <div class="col-12 d-flex justify-content-center">
        <img src="assets/images/brand-image5.svg" alt="" class="w-100" />
      </div>
    </div>
  </div>
</section>
