<section class="special-mixes bg-color">
  <div class="container px-0 px-sm-3 px-xl-5 pb-0 pb-sm-5">
    <div
      class="row d-flex justify-content-center px-0 px-sm-3 px-xl-5 pb-0 pb-sm-5 mb-5"
    >
      <div class="col-12 col-sm-4">
        <div
          class="d-none d-sm-block ps-5 ps-sm-2 ps-xl-5"
          style="margin-top: 10rem"
        >
          <h1 class="title text-primary fs-lg">Top 10</h1>
          <h1 class="title text-primary fs-lg">Special</h1>
          <h1 class="title text-primary fs-lg">Mixes</h1>
        </div>
        <div class="d-block d-sm-none">
          <h1 class="title text-primary fs-lg mt-4 px-2">
            Top 10 Special Mixes
          </h1>
        </div>
      </div>
      <div class="col-12 col-sm-4">
        <div class="d-none d-sm-block" style="margin-top: 6rem">
          <div class="row">
            <div class="col-2">
              <div class="d-flex justify-content-end">
                <img src="assets/images/speciality-icon.svg" alt="" />
              </div>
            </div>
            <div class="col-10">
              <p class="text-primary fs-md">Lady Killer</p>
            </div>
          </div>
        </div>
        <div class="d-block d-sm-none">
          <div class="row pt-2">
            <div class="col-2">
              <div class="d-flex justify-content-end">
                <img src="assets/images/speciality-icon.svg" alt="" />
              </div>
            </div>
            <div class="col-10">
              <p class="text-primary fs-md">Lady Killer</p>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-2">
            <div class="d-flex justify-content-end">
              <img src="assets/images/speciality-icon.svg" alt="" />
            </div>
          </div>
          <div class="col-10">
            <p class="text-primary fs-md">Bluemist</p>
          </div>
        </div>
        <div class="row">
          <div class="col-2">
            <div class="d-flex justify-content-end">
              <img src="assets/images/speciality-icon.svg" alt="" />
            </div>
          </div>
          <div class="col-10">
            <p class="text-primary fs-md">Berry Blast</p>
          </div>
        </div>
        <div class="row">
          <div class="col-2">
            <div class="d-flex justify-content-end">
              <img src="assets/images/speciality-icon.svg" alt="" />
            </div>
          </div>
          <div class="col-10">
            <p class="text-primary fs-md">Kiwi stoner</p>
          </div>
        </div>
        <div class="row">
          <div class="col-2">
            <div class="d-flex justify-content-end">
              <img src="assets/images/speciality-icon.svg" alt="" />
            </div>
          </div>
          <div class="col-10">
            <p class="text-primary fs-md">Bounty</p>
          </div>
        </div>
        <div class="row">
          <div class="col-2">
            <div class="d-flex justify-content-end">
              <img src="assets/images/speciality-icon.svg" alt="" />
            </div>
          </div>
          <div class="col-10">
            <p class="text-primary fs-md">Falling star</p>
          </div>
        </div>
        <div class="row">
          <div class="col-2">
            <div class="d-flex justify-content-end">
              <img src="assets/images/speciality-icon.svg" alt="" />
            </div>
          </div>
          <div class="col-10">
            <p class="text-primary fs-md">Tuity fruity</p>
          </div>
        </div>
        <div class="row">
          <div class="col-2">
            <div class="d-flex justify-content-end">
              <img src="assets/images/speciality-icon.svg" alt="" />
            </div>
          </div>
          <div class="col-10">
            <p class="text-primary fs-md">Smoky Macchiato</p>
          </div>
        </div>
        <div class="row">
          <div class="col-2">
            <div class="d-flex justify-content-end">
              <img src="assets/images/speciality-icon.svg" alt="" />
            </div>
          </div>
          <div class="col-10">
            <p class="text-primary fs-md">Passion 19</p>
          </div>
        </div>
        <div class="row">
          <div class="col-2">
            <div class="d-flex justify-content-end">
              <img src="assets/images/speciality-icon2.svg" alt="" />
            </div>
          </div>
          <div class="col-10">
            <p class="text-primary fs-md">Love 66</p>
          </div>
        </div>
      </div>
      <div class="col-12 col-sm-4 pt-4">
        <div class="d-none d-sm-block">
          <div class="px-4">
            <img
              src="assets/images/special-mixes1.svg"
              alt=""
              style="width: 16rem"
            />
          </div>
          <div class="px-4">
            <img
              src="assets/images/special-mixes2.svg"
              alt=""
              style="width: 16rem"
            />
          </div>
        </div>
        <div class="d-block d-sm-none">
          <div class="p-3">
            <img src="assets/images/special-mixes1.svg" alt="" class="w-100" />
          </div>
          <div class="px-3">
            <img src="assets/images/special-mixes2.svg" alt="" class="w-100" />
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
