<section id="footer" class="bg-color">
  <div class="container px-3 px-lg-5">
    <div class="row">
      <div class="col-lg-4 col-6 mb-4">
        <h4 class="text-primary fs-md mb-3">Hours</h4>
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link text-primary fs-sm"
              ><strong>Mon:</strong> 7:00AM - 12:00 AM
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-primary fs-sm"
              ><strong>Tue:</strong> 7:00AM - 12:00 AM</a
            >
          </li>
          <li class="nav-item">
            <a class="nav-link text-primary fs-sm"
              ><strong>Wed:</strong> 7:00AM - 12:00 AM</a
            >
          </li>
          <li class="nav-item">
            <a class="nav-link text-primary fs-sm"
              ><strong>Thur:</strong> 7:00AM - 12:00 AM
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-primary fs-sm"
              ><strong>Fri:</strong> 7:00AM - 12:00 AM</a
            >
          </li>
          <li class="nav-item">
            <a class="nav-link text-primary fs-sm"
              ><strong>Sat & Sun:</strong> 7:00AM - 2:00 AM</a
            >
          </li>
        </ul>
      </div>
      <div class="col-lg-4 col-6 mb-4">
        <h4 class="fs-md text-primary mb-3">Resources</h4>
        <ul class="navbar-nav">
          <li class="nav-item">
            <a
              class="nav-link text-primary fs-sm"
              (click)="scrollToHomeSections('aboutUs')"
              style="cursor: pointer"
              >About Us</a
            >
          </li>
          <li class="nav-item">
            <a
              class="nav-link text-primary fs-sm"
              (click)="scrollToHomeSections('brands')"
              style="cursor: pointer"
              >Brands</a
            >
          </li>
          <li class="nav-item">
            <a
              class="nav-link text-primary fs-sm"
              (click)="scrollToHomeSections('speciality')"
              style="cursor: pointer"
              >Speciality</a
            >
          </li>
          <li class="nav-item">
            <a
              class="nav-link text-primary fs-sm"
              (click)="scrollToHomeSections('experience')"
              style="cursor: pointer"
              >Experience</a
            >
          </li>
          <li class="nav-item">
            <a
              class="nav-link text-primary fs-sm"
              (click)="scrollToHomeSections('flavors')"
              style="cursor: pointer"
              >Flavors</a
            >
          </li>
        </ul>
      </div>
      <div class="col-lg-4 col-12">
        <h4 class="fs-md text-primary mb-3">Address</h4>
        <p class="text-primary fs-sm">Floor 1501</p>
        <p class="text-primary fs-sm">City Tower 2</p>
        <p class="text-primary fs-sm">Trade Center 1, SZR</p>
        <p class="text-primary fs-sm">P.O BOX: 450535</p>
        <p class="text-primary fs-sm">Call Us: <span>+971 4 4919369</span></p>
        <ul class="navbar-nav my-4 flex-row">
          <li class="nav-item me-3">
            <a
              class="nav-link"
              href="https://www.facebook.com/search/top?q=7hookah%20dxb"
              target="_blank"
            >
              <img [src]="facebookImg" />
            </a>
          </li>
          <li class="nav-item mr-3">
            <a
              class="nav-link"
              href="https://www.instagram.com/seven.hookah7/?igshid=YmMyMTA2M2Y%3D"
              target="_blank"
            >
              <img [src]="instagramImg" />
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <mat-divider></mat-divider>
  <div class="py-4 px-1 my-0">
    <p class="text-center text-black">
      Website Design By:
      <span class="text-primary"><strong>Lilian Nabawesi</strong> </span>
    </p>
    <p class="text-center text-black fs-6">
      © 2022 Seven Hookar | All rights reserved.
    </p>
  </div>
</section>
