<section class="bg-color" id="experience">
  <div class="container d-none d-md-block p-sm-5">
    <h1 class="text-center text-primary fs-lg pb-sm-5 pt-sm-4">
      OUR EXPERIENCE
    </h1>
    <div
      class="row d-flex align-items-center justify-content-center pt-3 pb-0 pb-sm-5"
    >
      <div class="col-12 col-sm-4">
        <div class="d-flex justify-content-center py-3 py-sm-0">
          <img src="assets/images/experience1.svg" alt="" class="image-size" />
        </div>
      </div>
      <div class="col-12 col-sm-4">
        <div class="d-flex justify-content-center py-3 py-sm-0">
          <img src="assets/images/experience2.svg" alt="" class="image-size" />
        </div>
      </div>
      <div class="col-12 col-sm-4">
        <div class="d-flex justify-content-center py-3 py-sm-0">
          <img src="assets/images/experience3.svg" alt="" class="image-size" />
        </div>
      </div>
    </div>
    <div class="row d-flex align-items-center justify-content-center pb-sm-5">
      <div class="col-12 col-sm-4">
        <div class="d-flex justify-content-center">
          <img src="assets/images/experience4.svg" alt="" />
        </div>
      </div>
      <div class="col-12 col-sm-4">
        <div class="d-flex justify-content-center">
          <img src="assets/images/experience5.svg" alt="" />
        </div>
      </div>
      <div class="col-12 col-sm-4">
        <div class="d-flex justify-content-center">
          <img src="assets/images/experience6.svg" alt="" />
        </div>
      </div>
    </div>
  </div>
  <div class="container d-none d-sm-block d-md-none p-sm-5">
    <h1 class="text-center text-primary fs-lg pb-sm-3 pt-sm-4">
      OUR EXPERIENCE
    </h1>
    <div class="row d-flex align-items-center justify-content-center py-3">
      <div class="col-12 col-sm-6">
        <div class="d-flex justify-content-center py-sm-0">
          <img src="assets/images/experience1.svg" alt="" />
        </div>
      </div>
      <div class="col-12 col-sm-6">
        <div class="d-flex justify-content-center py-sm-0">
          <img src="assets/images/experience2.svg" alt="" />
        </div>
      </div>
    </div>
    <div class="row d-flex align-items-center justify-content-center py-3">
      <div class="col-12 col-sm-6">
        <div class="d-flex justify-content-center py-3 py-sm-0">
          <img src="assets/images/experience3.svg" alt="" class="image-size" />
        </div>
      </div>
      <div class="col-12 col-sm-6">
        <div class="d-flex justify-content-center">
          <img src="assets/images/experience4.svg" alt="" />
        </div>
      </div>
    </div>
    <div
      class="row d-flex align-items-center justify-content-center pt-3 pb-sm-5"
    >
      <div class="col-12 col-sm-6">
        <div class="d-flex justify-content-center">
          <img src="assets/images/experience5.svg" alt="" />
        </div>
      </div>
      <div class="col-12 col-sm-6">
        <div class="d-flex justify-content-center">
          <img src="assets/images/experience6.svg" alt="" />
        </div>
      </div>
    </div>
  </div>
  <div class="container d-block d-sm-none p-4">
    <h1 class="text-center text-primary fs-lg pb-0 pt-3">OUR EXPERIENCE</h1>
    <div class="row d-flex align-items-center justify-content-center pt-3 pb-0">
      <div class="col-12" #imgEl1sm [@rightImg1smAnimation]="img1sm">
        <div class="d-flex justify-content-center py-3">
          <img src="assets/images/experience1.svg" alt="" class="w-100" />
        </div>
      </div>
      <div class="col-12" #imgEl2sm [@rightImg2smAnimation]="img2sm">
        <div class="d-flex justify-content-center py-3">
          <img src="assets/images/experience2.svg" alt="" class="w-100" />
        </div>
      </div>
      <div class="col-12" #imgEl3sm [@rightImg3smAnimation]="img3sm">
        <div class="d-flex justify-content-center py-3">
          <img src="assets/images/experience3.svg" alt="" class="w-100" />
        </div>
      </div>
    </div>
    <div class="row d-flex align-items-center justify-content-center pb-0">
      <div class="col-12" #imgEl4sm [@rightImg4smAnimation]="img4sm">
        <div class="d-flex justify-content-center py-3">
          <img src="assets/images/experience4.svg" alt="" class="w-100" />
        </div>
      </div>
      <div class="col-12" #imgEl5sm [@rightImg5smAnimation]="img5sm">
        <div class="d-flex justify-content-center py-3">
          <img src="assets/images/experience5.svg" alt="" class="w-100" />
        </div>
      </div>
      <div class="col-12" #imgEl6sm [@rightImg6smAnimation]="img6sm">
        <div class="d-flex justify-content-center py-3">
          <img src="assets/images/experience6.svg" alt="" class="w-100" />
        </div>
      </div>
    </div>
  </div>
</section>
