<section class="bg-color">
  <div class="container py-4 p-sm-4 ps-lg-5">
    <div class="py-0 py-sm-2 px-0 px-sm-1 px-xl-5">
      <h1 class="text-primary fs-lg">Why Chose To Work With US?</h1>
      <h3 class="text-primary fs-small py-0 py-sm-2 ps-3">
        Let's Grow Your Business Together
      </h3>
    </div>
    <div class="px-3 px-sm-0 px-xl-5">
      <div class="row py-2">
        <div class="col-1">
          <div class="d-flex justify-content-end">
            <img src="assets/images/speciality-icon.svg" alt="" />
          </div>
        </div>
        <div class="col-11">
          <p class="text-primary fs-md">Zero Investment into Equipment</p>
          <p class="text-primary fs-sm text-width">
            Our outsourcing solutions include the investment in the requirements
            of newly designed pots, tobacco and all required accessories related
            to shisha for your business.
          </p>
        </div>
      </div>
      <div class="row py-2">
        <div class="col-1">
          <div class="d-flex justify-content-end">
            <img src="assets/images/speciality-icon.svg" alt="" />
          </div>
        </div>
        <div class="col-11">
          <p class="text-primary fs-md">No Inventory Of Tobacco</p>
          <p class="text-primary fs-sm text-width">
            We have the top brands of tobacco added to our services for your
            business from our side, there is no need for you to invest into
            tobacco stocks.
          </p>
        </div>
      </div>
      <div class="row py-2">
        <div class="col-1">
          <div class="d-flex justify-content-end">
            <img src="assets/images/speciality-icon.svg" alt="" />
          </div>
        </div>
        <div class="col-11">
          <p class="text-primary fs-md">Costless Staff Support</p>
          <p class="text-primary fs-sm text-width">
            Our team includes well trained professional mixologist and hookar
            masters who will guarantee the professional service at your outlet
          </p>
        </div>
      </div>
      <div class="row py-2">
        <div class="col-1">
          <div class="d-flex justify-content-end">
            <img src="assets/images/speciality-icon2.svg" alt="" />
          </div>
        </div>
        <div class="col-11">
          <p class="text-primary fs-md">Strong Marketing Strategy</p>
          <p class="text-primary fs-sm text-width mb-3">
            Our social media team will promote your outlet on our social media
            platforms and social circles to make sure increase the footfall and
            boost the venue.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
