<section class="flavors bg-color" id="flavors">
  <div class="container px-0 px-sm-3 px-xl-5 pb-0 py-sm-5">
    <div
      class="row d-flex justify-content-center align-items-center px-0 px-sm-3 px-xl-5 pb-0 pb-sm-5 mb-5"
    >
      <div class="col-12 col-sm-4">
        <div class="d-none d-sm-block ps-5 ps-sm-0 ps-xl-5">
          <h1 class="title text-primary fs-lg">Top 15</h1>
          <h1 class="title text-primary fs-lg">Traditional</h1>
          <h1 class="title text-primary fs-lg">Flavors</h1>
        </div>
        <div class="d-block d-sm-none">
          <h1 class="title text-primary fs-lg mt-4 px-2">
            Top 15 Traditional Flavors
          </h1>
        </div>
      </div>
      <div class="col-12 col-sm-4">
        <div class="d-none d-sm-block">
          <div class="row">
            <div class="col-2">
              <div class="d-flex justify-content-end">
                <img src="assets/images/speciality-icon.svg" alt="" />
              </div>
            </div>
            <div class="col-10">
              <p class="text-primary fs-md">Double apple</p>
            </div>
          </div>
        </div>
        <div class="d-block d-sm-none">
          <div class="row">
            <div class="col-2">
              <div class="d-flex justify-content-end">
                <img src="assets/images/speciality-icon.svg" alt="" />
              </div>
            </div>
            <div class="col-10">
              <p class="text-primary fs-md">Lemon Mint</p>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-2">
            <div class="d-flex justify-content-end">
              <img src="assets/images/speciality-icon.svg" alt="" />
            </div>
          </div>
          <div class="col-10">
            <p class="text-primary fs-md">Grape Mint</p>
          </div>
        </div>
        <div class="row">
          <div class="col-2">
            <div class="d-flex justify-content-end">
              <img src="assets/images/speciality-icon.svg" alt="" />
            </div>
          </div>
          <div class="col-10">
            <p class="text-primary fs-md">Grape</p>
          </div>
        </div>
        <div class="row">
          <div class="col-2">
            <div class="d-flex justify-content-end">
              <img src="assets/images/speciality-icon.svg" alt="" />
            </div>
          </div>
          <div class="col-10">
            <p class="text-primary fs-md">Mint</p>
          </div>
        </div>
        <div class="row">
          <div class="col-2">
            <div class="d-flex justify-content-end">
              <img src="assets/images/speciality-icon.svg" alt="" />
            </div>
          </div>
          <div class="col-10">
            <p class="text-primary fs-md">Gum Mint</p>
          </div>
        </div>
        <div class="row">
          <div class="col-2">
            <div class="d-flex justify-content-end">
              <img src="assets/images/speciality-icon.svg" alt="" />
            </div>
          </div>
          <div class="col-10">
            <p class="text-primary fs-md">Cinnamon Gum</p>
          </div>
        </div>
        <div class="row">
          <div class="col-2">
            <div class="d-flex justify-content-end">
              <img src="assets/images/speciality-icon.svg" alt="" />
            </div>
          </div>
          <div class="col-10">
            <p class="text-primary fs-md">Gum</p>
          </div>
        </div>
        <div class="row">
          <div class="col-2">
            <div class="d-flex justify-content-end">
              <img src="assets/images/speciality-icon.svg" alt="" />
            </div>
          </div>
          <div class="col-10">
            <p class="text-primary fs-md">Watermelon Mint</p>
          </div>
        </div>
        <div class="row">
          <div class="col-2">
            <div class="d-flex justify-content-end">
              <img src="assets/images/speciality-icon.svg" alt="" />
            </div>
          </div>
          <div class="col-10">
            <p class="text-primary fs-md">Blueberry Mint</p>
          </div>
        </div>
      </div>
      <div class="col-12 col-sm-4">
        <div class="d-none d-sm-block">
          <div class="">
            <img src="assets/images/flavors.svg" alt="" style="width: 15rem" />
          </div>
        </div>
        <div class="row pt-0 pt-sm-4">
          <div class="col-2">
            <div class="d-flex justify-content-end">
              <img src="assets/images/speciality-icon.svg" alt="" />
            </div>
          </div>
          <div class="col-10">
            <p class="text-primary fs-md">Orange Mint</p>
          </div>
        </div>
        <div class="row">
          <div class="col-2">
            <div class="d-flex justify-content-end">
              <img src="assets/images/speciality-icon.svg" alt="" />
            </div>
          </div>
          <div class="col-10">
            <p class="text-primary fs-md">Pan Mint</p>
          </div>
        </div>
        <div class="row">
          <div class="col-2">
            <div class="d-flex justify-content-end">
              <img src="assets/images/speciality-icon.svg" alt="" />
            </div>
          </div>
          <div class="col-10">
            <p class="text-primary fs-md">Peach Mint</p>
          </div>
        </div>
        <div class="row">
          <div class="col-2">
            <div class="d-flex justify-content-end">
              <img src="assets/images/speciality-icon.svg" alt="" />
            </div>
          </div>
          <div class="col-10">
            <p class="text-primary fs-md">Vanilla Mint</p>
          </div>
        </div>
        <div class="row">
          <div class="col-2">
            <div class="d-flex justify-content-end">
              <img src="assets/images/speciality-icon2.svg" alt="" />
            </div>
          </div>
          <div class="col-10">
            <p class="text-primary fs-md">Sweet Melon Mint</p>
          </div>
        </div>
        <div class="d-block d-sm-none">
          <div class="p-3">
            <img src="assets/images/flavors.svg" alt="" class="w-100" />
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
