@import "~bootstrap/scss/_functions.scss";
@import "~bootstrap/scss/_variables.scss";
@import "~bootstrap/scss/_mixins.scss";

.speciality {
  min-height: 36rem;
  .speciality-row {
    margin: 0 5rem !important;
  }
  @media only screen and (max-width: 575px) {
    .speciality-row {
      margin: 0 1rem !important;
    }
    .image-size {
      width: 100% !important;
    }
    .speciality-text {
      left: 7% !important;
    }
  }

  @include media-breakpoint-between(sm, lg) {
    .speciality-row {
      margin: 0 1rem !important;
    }
  }

  @include media-breakpoint-between(lg, xl) {
    .speciality-text {
      left: 10% !important;
      font-size: 3.2rem !important;
    }
  }
}
