<section class="speciality bg-color" id="speciality">
  <div class="container px-0 px-sm-2 px-lg-5 pb-5">
    <div class="speciality-row row pt-4">
      <div class="col-12 col-md-6">
        <h1
          class="speciality-text text-center text-primary position-absolute fs-lg pb-sm-5 pt-sm-5"
          style="left: 20%"
        >
          OUR SPECIALITY
        </h1>
        <div class="pt-0 pt-sm-5 mt-0 mt-sm-5">
          <div class="py-3 mt-2">
            <div class="row mt-4">
              <div class="col-1">
                <div class="d-flex justify-content-end">
                  <img src="assets/images/speciality-icon.svg" alt="" />
                </div>
              </div>
              <div class="col-11">
                <p class="text-primary fs-md">Shisha Outsourcing</p>
              </div>
            </div>
            <div class="">
              <p class="text-primary fs-sm text-width">
                We offer shisha facility services solutions to night clubs bars
                restaurants beach resorts and night life venues.
              </p>
            </div>
          </div>
          <div class="py-3">
            <div class="row">
              <div class="col-1">
                <div class="d-flex justify-content-end">
                  <img src="assets/images/speciality-icon.svg" alt="" />
                </div>
              </div>
              <div class="col-11">
                <p class="text-primary fs-md">Shisha Catering</p>
              </div>
            </div>
            <div class="">
              <p class="text-primary fs-sm">
                We offer shisha catering solutions across UAE, Our team of
                professional hookah masters are well equipped to serve you best
                at your special occasion's events and private parties.
              </p>
            </div>
          </div>
          <div class="py-3">
            <div class="row">
              <div class="col-1">
                <div class="d-flex justify-content-end">
                  <img src="assets/images/speciality-icon2.svg" alt="" />
                </div>
              </div>
              <div class="col-11">
                <p class="text-primary fs-md">Shisha Home Delivery</p>
              </div>
            </div>
            <div class="">
              <p class="text-primary fs-sm">
                You can book our exotic shisha flavors online and you will get
                your shisha delivered to your home.
              </p>
            </div>
          </div>
        </div>
      </div>
      <div
        class="col-12 col-md-6 d-flex justify-content-end align-items-start ps-0 pe-5"
      >
        <img src="assets/images/speciality2.svg" alt="" class="image-size" />
      </div>
    </div>
  </div>
</section>
