<section class="speciality-mixes bg-color">
  <div class="container px-0 px-sm-3 px-xl-5 pb-0 pb-sm-5">
    <div
      class="row d-flex justify-content-center align-items-center px-0 px-sm-3 px-xl-5 pb-0 pb-sm-5 mb-5"
    >
      <div class="col-12 col-sm-4">
        <div class="d-none d-sm-block ps-5 ps-sm-0 ps-xl-5">
          <h1 class="title text-primary fs-lg">Seven</h1>
          <h1 class="title text-primary fs-lg">Speciality</h1>
          <h1 class="title text-primary fs-lg">Mixes</h1>
        </div>
        <div class="d-block d-sm-none">
          <h1 class="title text-primary fs-lg mt-4 px-2">
            Seven Speciality Mixes
          </h1>
        </div>
      </div>
      <div class="col-12 col-sm-4">
        <div class="row">
          <div class="col-2">
            <div class="d-flex justify-content-end">
              <img src="assets/images/speciality-icon.svg" alt="" />
            </div>
          </div>
          <div class="col-10">
            <p class="text-primary fs-md">Space flavour</p>
          </div>
        </div>
        <div class="row">
          <div class="col-2">
            <div class="d-flex justify-content-end">
              <img src="assets/images/speciality-icon.svg" alt="" />
            </div>
          </div>
          <div class="col-10">
            <p class="text-primary fs-md">Dubai nights</p>
          </div>
        </div>
        <div class="row">
          <div class="col-2">
            <div class="d-flex justify-content-end">
              <img src="assets/images/speciality-icon.svg" alt="" />
            </div>
          </div>
          <div class="col-10">
            <p class="text-primary fs-md">Tropic ray</p>
          </div>
        </div>
        <div class="row">
          <div class="col-2">
            <div class="d-flex justify-content-end">
              <img src="assets/images/speciality-icon.svg" alt="" />
            </div>
          </div>
          <div class="col-10">
            <p class="text-primary fs-md">Ice boom boom</p>
          </div>
        </div>
        <div class="row">
          <div class="col-2">
            <div class="d-flex justify-content-end">
              <img src="assets/images/speciality-icon.svg" alt="" />
            </div>
          </div>
          <div class="col-10">
            <p class="text-primary fs-md">Over Doze</p>
          </div>
        </div>
        <div class="row">
          <div class="col-2">
            <div class="d-flex justify-content-end">
              <img src="assets/images/speciality-icon.svg" alt="" />
            </div>
          </div>
          <div class="col-10">
            <p class="text-primary fs-md">Blanco</p>
          </div>
        </div>
        <div class="row">
          <div class="col-2">
            <div class="d-flex justify-content-end">
              <img src="assets/images/speciality-icon.svg" alt="" />
            </div>
          </div>
          <div class="col-10">
            <p class="text-primary fs-md">Eclipse</p>
          </div>
        </div>
      </div>
      <div class="col-12 col-sm-4">
        <div class="d-none d-sm-block">
          <div class="p-4">
            <img src="assets/images/mixes1.svg" alt="" style="width: 16rem" />
          </div>
          <div class="px-4">
            <img src="assets/images/mixes2.svg" alt="" style="width: 16rem" />
          </div>
        </div>
        <div class="d-block d-sm-none">
          <div class="p-3">
            <img src="assets/images/mixes1.svg" alt="" class="w-100" />
          </div>
          <div class="px-3">
            <img src="assets/images/mixes2.svg" alt="" class="w-100" />
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
